
$color-main :         #5cc1b9;
$color-white:         #ffffff;
$color-dark:		  #777; 
$color-yellow :       #ffbb33;
$color-gray :         #6f6f6f;
$color-darkgray :     #2e2f33;
$color-lightgray :    #f5f5f5;
$color-lightborder :  #d6d4d4;
$color-blue     :     #3595bf;