<div class="container-fluid">
    <form class="" name="ifrm" novalidate enctype="multipart/form-data">
        <panel class="">
            
            <div class="overlay"></div>
            <button class="btn custom close-panel"><i class="fa fa-close"></i> Close</button>
            <button class="btn custom action-btn" ng-click="addFilter()"><i class="fa fa-plus-square-o"></i> Add</button>
            <div class="inner">
                <tabset justified="true">
                    <tab ng-click="filterChangeCategory(category)" ng-repeat="category in product.Categories" heading="{{showCat(category)}}">
                    
                        <!--{{showCat(category)}}-->
                        <div class="row panel-row header">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-3">Filter Name</div>
                            <div class="col-md-2">Filter Slug</div>
                            <div class="col-md-2">Value</div>
                            <div class="col-md-2">Slug</div>
                            <div class="col-md-2"></div>
                        </div>
                        
                        <div class="row panel-row" ng-repeat="filter in filters[category]">
                            <!--<div class="col-md-12">-->
                                <div class="col-md-1" style="height: 36px;">
                                    <!--<i class="fa fa-info-circle medium"></i>-->
                                    {{filter.FilterId}}
                                    <img ng-show="filter.isLoading" ng-src="{{basePath}}/app/img/ajax-small-preloader.gif" width="40%" alt="" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" ng-model="filter.Title" ng-change="slugify(filter , 'Title')"  />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" ng-model="filter.Slug" disabled />
                                </div>
                                <div class="col-md-2 extended hide">
                                    <button class="btn custom"><i class="fa fa-gear"></i></button>
                                </div>
                                
                                <div class="col-md-2">
                                    <input type="text" class="form-control" ng-model="filter.FilterValues[product.ItemId].Value"
                                        ng-change="slugify(filter.FilterValues[product.ItemId] , 'Value')"
                                    />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" ng-model="filter.FilterValues[product.ItemId].Slug" disabled />
                                </div>
                                <div class="col-md-2">
                                    <button class="btn custom" ng-click="savefilter(filter);"><i class="fa fa-floppy-o"></i></button>
                                    <button class="btn custom"><i class="fa fa-trash-o"></i></button>
                                    <button class="btn custom"><i class="fa fa-gear"></i></button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        
                        
                        
                    </tab>
                    <!--<tab heading="SJ">Short Labeled Justified content</tab>-->
                    <!--<tab heading="Long Justified">Long Labeled Justified content</tab>-->
                    <!--<tab heading="Long Justified">Long Labeled Justified content</tab>-->
                    
                  </tabset>
                  <div class="clearfix"></div>
                  
            </div>
            
        </panel>
        
        <div class="col-md-12 col-xs-12 extended form-title">
            <div class="col-md-8 col-xs-8">
              
                <h3 class="_ft">Edit product</h3>
              
            </div>
            <div class="col-md-4 col-xs-4">
              <div class="_abw text-right">
                <button class="btn custom toggle-panel">Filters</button>
                <button class="btn custom" ng-disabled="ifrm.$invalid" ng-click="actions.item.update()">Save</button>
                <button class="btn custom">Close</button>
              </div>
              
            </div>
        </div>
        
        <div class="form-content col-md-12 extended col-xs-12">
            
            <legend><span>Edit product</span></legend>
            
            
            <div class="clearfix"></div>
            
            <div class="form-group col-md-12 col-xs-12">
                <div class="col-md-3">
                    <label for="">Title</label>    
                </div>
                <div class="col-md-9 col-xs-9">
                    <input type="text" class="form-control" ng-model="item.Title" name="Title" 
                        required placeholder="Product title" 
                    />
                    <div ng-show="ifrm.Title.$error.required">
                        <span class="alert alert-danger">Please provide product name.</span>
                    </div>
                </div>
                
            </div>
            
            <div class="form-group col-md-12">
                <div class="col-md-3">
                    <label for="">Slug</label>    
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="product.Slug" name="Slug" required placeholder="Product slug">
                    <!--<div ng-show="pfrm.Title.$error.required">-->
                    <!--    <span class="alert alert-danger">Please provide product name.</span>-->
                    <!--</div>-->
                </div>
                
            </div>
            
            <div class="form-group col-md-12">
                <div class="col-md-3">
                    <label for="">Price</label>    
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="product.Product.Price" name="Price" required placeholder="Product price">
                    <div ng-show="pfrm.Price.$error.required">
                        <span class="alert alert-danger">Please provide product price.</span>
                    </div>
                </div>
                
            </div>
            
            <div class="form-group col-md-12">
                <div class="col-md-3">
                    <label for="">Stock</label>    
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="product.Product.Stock" name="Stock" required placeholder="Product stock">
                    <div ng-show="pfrm.Stock.$error.required">
                        <span class="alert alert-danger">Please provide product stock.</span>
                    </div>
                </div>
                
            </div>
            
            <div class="form-group col-md-12">
                <div class="col-md-3">
                    <label for="">Categories</label>    
                </div>
                <div class="col-md-9">
                    <select class="form-control pull-left custom-select fw double" style="height : 76px;" ng-model="product.Categories" multiple name="Category" required>
                        <option> - Select categories - </option>
                        <option selected="selected" ng-repeat="category in categories" value="{{category.CategoryId}}">{{category.CategoryId}}. {{category.Title}}</option>
                    </select>
                    <div class="ml15 pull-left col-md-7 product-categories">
                        
                        <span ng-repeat="selct in product.Categories" class="label label-success mr5">{{showCat(selct)}}</span>
                       
                    </div>
                    <div class="clearfix"></div>
                    <div ng-show="pfrm.Category.$error.required">
                        <span class="alert alert-danger">Please provide the categories this product will belong.</span>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="form-group col-md-12">
                <div class="col-md-3">
                    <label for="">Producer</label>    
                </div>
                <div class="col-md-3">
                    <select class="form-control fw" ng-model="product.Product.Producer" name="Producer" required>
                        <option value="">-- Select Producer --</option>
                        <option ng-selected="product.Product.Producer == 1" value="1">Samsung</option>
                    </select>
                    <!--<input type="text" class="form-control" ng-model="product.Product.Producer" name="Producer" required placeholder="Product stock">-->
                    <div ng-show="pfrm.Producer.$error.required">
                        <span class="alert alert-danger">Please provide product producer.</span>
                    </div>
                </div>
                
                <div class="col-md-3 brl">
                    <label for="">Cover file</label>    
                </div>
                <div class="col-md-3 custom-file">
                    <input type="file" name="Cover" mxfile ng-model="product.Cover" required>
                    <div ng-show="pfrm.Cover.$error.required">
                        <span class="alert alert-danger">Please provide product cover file.</span>
                    </div>
                </div>
                
            </div>
            
            <div class="form-group col-md-12">
                
                <div class="col-md-3">
                    <label for="">Galery</label>    
                </div>
                <div class="col-md-9 custom-file">
                    <input type="file" class="" multifile ng-model="product.Product.Galery" name="Galery[]" multiple>
                    
                </div>
                
                <div class="col-md-12" id="Galery">
                    
                    <div class="galery-item-wp" ng-repeat="galItem in product.Product.Galery">
                        <img ng-src="{{galItem.src}}" src=""/>
                        
                        <div class="galery-item-ftr">
                            <label ng-class="{'label-success' : galItem.ImageId != undefined , 'label-warning' : galItem.ImageId == undefined }" class="label">
                                <span ng-if="galItem.ImageId != undefined">uploaded</span>
                                <span ng-if="galItem.ImageId == undefined">pending</span>
                            </label>
                            <button ng-click="removeGaleryImage(galItem, $index)" class="btn custom small pull-right">remove</button>
                        </div>
                                    
                    </div>
                    <!--<div style="display : inline-block"></div>-->
                    
                </div>
                    
            </div>
            
            <div class="form-group col-md-12">
                <div class="col-md-1">
                    <label for="">Created</label>    
                </div>
                <div class="col-md-3">
                    <p class="input-group">
                      <input type="date" class="form-control" disabled datepicker-popup ng-model="product.Created" is-open="openeda" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" disabled ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
                <div class="col-md-1">
                    <label for="">Updated</label>    
                </div>
                <div class="col-md-3">
                    <p class="input-group">
                      <input type="date" class="form-control" disabled datepicker-popup ng-model="product.Updated" is-open="openeda" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" disabled ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
                
                <div class="col-md-1">
                    <label for="">Status</label>    
                </div>
                <div class="col-md-3">
                    <select ng-model="product.Status" class="form-control ">
                        <option ng-repeat="status in statuses" ng-selected="status.Id == product.Status" value="{{status.Id}}">{{status.Name}}</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group col-md-12">
                <div class="col-md-12">
                    <label for="">Description</label>    
                </div>
                <div class="col-md-12">
                    <textarea name="Description" ng-model="product.Description" ckeditor required></textarea>
                    <div ng-show="pfrm.Description.$error.required">
                        <span class="alert alert-danger">Please provide product description.</span>
                    </div>
                </div>
                
            </div>
            
        </div> <!-- END FORM CONTENT -->
        <div class="clearfix"></div>
    </form>
</div>