<div class="container-fluid">
    <form class="" name="ifrm" novalidate enctype="multipart/form-data">
        
        <panel class="right" id="Filters">
            
            <div class="overlay"></div>
            <button class="btn custom close-panel"><i class="fa fa-close"></i> Close</button>
            <button class="btn custom action-btn" ng-disabled="item.Categories.length == 0" ng-click="actions.filter.add()"><i class="fa fa-plus-square-o"></i> Add</button>
            <div class="inner">
                <tabset justified="true">
                    
                    <tab ng-click="actions.filter.chCurrCat(category)" ng-repeat="category in item.Categories"
                        heading="{{actions.category.get(category).Title}}">
                    
                        
                        <div class="row panel-row header">
                            <div class="col-md-1 col-xs-1">&nbsp;</div>
                            <div class="col-md-2 col-xs-2">Filter Name</div>
                            <div class="col-md-2 col-xs-2">Filter Slug</div>
                            <div class="col-md-1 col-xs-1"></div>
                            <div class="col-md-2 col-xs-2">Value</div>
                            <div class="col-md-2 col-xs-2">Slug</div>
                            <div class="col-md-2 col-xs-2"></div>
                        </div>
                        
                        <div class="row panel-row" ng-repeat="filter in item.filters[category]">
                            <div class="col-md-12 col-xs-12 hide">
                                <pre>{{filter}}</pre>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-1 col-xs-1 extended text-left" style="height: 26px;">
                                    <!--<i class="fa fa-info-circle medium"></i>-->
                                    <label class="label label-success label-small" ng-show="!filter.isLoading && filter.FilterId">
                                        {{filter.FilterId}}
                                    </label>
                                    <label class="label label-small label-warning" ng-show="!filter.FilterId && !filter.isLoading">
                                        pending
                                    </label>
                                    <img ng-show="filter.isLoading " 
                                    ng-src="{{basePath}}/app/img/small-preloader.gif" width="30%" alt="" />
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <input type="text" class="form-control" ng-model="filter.Title" ng-change="_slugify(filter , 'Title' , 'Slug')"  />
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <input type="text" class="form-control" ng-model="filter.Slug" disabled />
                                </div>
                                <div class="col-md-1 col-xs-1 extended">
                                    <label class="label label-small label-danger" 
                                    ng-show="filter.FilterValues[item.ItemId].FilterValueId && !filter.isLoading">
                                        {{filter.FilterValues[item.ItemId].FilterValueId}}
                                    </label>
                                    <label class="label label-small label-warning" 
                                    ng-show="!filter.FilterValues[item.ItemId].FilterValueId && !filter.isLoading">
                                        pending
                                    </label>
                                    <img ng-show="filter.isLoading " 
                                    ng-src="{{basePath}}/app/img/small-preloader.gif" width="30%" alt="" />
                                </div>
                                
                                <div class="col-md-2 col-xs-2">
                                    <input type="text" class="form-control" ng-model="filter.FilterValues[item.ItemId].Value"
                                        ng-change="_slugify(filter.FilterValues[item.ItemId] , 'Value' , 'Slug')"
                                    />
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <input type="text" class="form-control" ng-model="filter.FilterValues[item.ItemId].Slug" disabled />
                                </div>
                                <div class="col-md-2 col-xs-2 extended text-right">
                                    <button class="btn custom" ng-click="actions.filter.save(filter);"><i class="fa fa-floppy-o"></i></button>
                                    <button class="btn custom" ng-click="actions.filter.delete(filter , $index);"><i class="fa fa-trash-o"></i></button>
                                    <!--<button class="btn custom"><i class="fa fa-gear"></i></button>-->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-row-loading" ng-show="filter.isLoading"></div>
                        </div>

                    </tab>
                    
                </tabset>
                  
                <div class="clearfix"></div>
                  
            </div>
            
        </panel>
        
        <panel class="left" id="Galery">
            
            <div class="overlay"></div>
            <button class="btn custom close-panel"><i class="fa fa-close"></i> Close</button>
        
            <div class="inner">
                <tabset justified="true">
                    <tab ng-click="" heading="Galery panel">
                        <div class="form-group col-md-12 mt10 col-xs-12" style="padding : 0;">
                
                            <div class="col-md-3 col-xs-3">
                                <label for="">Galery</label>    
                            </div>
                            <div class="col-md-9 col-xs-9 custom-file">
                                <input type="file" class="" multifile ng-model="item.Product.Galery" name="Galery[]" multiple>
                                
                            </div>
                            
                            <div class="col-md-12 extended col-xs-12" id="GaleryImages">
                                
                                <div class="galery-item-wp" ng-repeat="galItem in item.Product.Galery">
                                    <img ng-src="{{galItem.src}}" src=""/>
                                    
                                    <div class="galery-item-ftr">
                                        <label ng-class="{'label-success' : galItem.ImageId != undefined , 'label-warning' : galItem.ImageId == undefined }" class="label">
                                            <span ng-if="galItem.ImageId != undefined">uploaded</span>
                                            <span ng-if="galItem.ImageId == undefined">pending</span>
                                        </label>
                                        <button 
                                            ng-click="actions.item.remGalImg(galItem, $index)"
                                            class="btn custom small pull-right">
                                            remove
                                        </button>
                                    </div>
                                                
                                </div>
                                <!--<div style="display : inline-block"></div>-->
                                
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </tab>
                   
                </tabset>
                <div class="clearfix"></div>
                  
            </div>
            
        </panel>
       
        <div class="col-md-12 col-xs-12 extended form-title">
            <div class="col-md-8 col-xs-8">
              
                <h3 class="_ft">Edit product</h3>
              
            </div>
            <div class="col-md-4 col-xs-4">
              <div class="_abw text-right">
                <button class="btn custom toggle-panel" data-target="#Galery">Galery</button>
                <button class="btn custom toggle-panel" data-target="#Filters">Filters</button>
                <button class="btn custom" ng-disabled="ifrm.$invalid" ng-click="actions.item.update()">Save</button>
                <button class="btn custom">Close</button>
              </div>
              
            </div>
        </div>
        
        <div class="form-content col-md-12 extended col-xs-12">
            
            <legend><span>Edit product</span></legend>
            
            
            <div class="clearfix"></div>
            <!-- ITEM NAME -->
            <div class="form-group col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-3">
                    <label for="">Title</label>    
                </div>
                <div class="col-md-9 col-xs-9">
                    <input type="text" class="form-control" ng-model="item.Title" name="Title" 
                        required placeholder="Product title" 
                    />
                    <div ng-show="ifrm.Title.$error.required">
                        <span class="alert alert-danger">Please provide product name.</span>
                    </div>
                </div>
                
            </div>
            
            <!-- ITEM SLUG -->
            <div class="form-group col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-3">
                    <label for="">Slug</label>    
                </div>
                <div class="col-md-9 col-xs-9">
                    <input type="text" disabled class="form-control" ng-model="item.Slug" name="Slug" required placeholder="Product slug">
                    <div ng-show="ifrm.Slug.$error.required">
                        <span class="alert alert-danger">Please provide product slug.</span>
                    </div>
                </div>
                
            </div>
            
            <!-- ITEM PRICE -->
            <div class="form-group col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-3">
                    <label for="">Price</label>    
                </div>
                <div class="col-md-9 col-xs-9">
                    <input type="text" class="form-control" ng-model="item.Product.Price" name="Price" required placeholder="Product price">
                    <div ng-show="ifrm.Price.$error.required">
                        <span class="alert alert-danger">Please provide product price.</span>
                    </div>
                </div>
                
            </div>
            
            <!-- ITEM STOCK -->
            <div class="form-group col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-3">
                    <label for="">Stock</label>    
                </div>
                <div class="col-md-9 col-xs-9">
                    <input type="text" class="form-control" ng-model="item.Product.Stock" name="Stock" required placeholder="Product stock">
                    <div ng-show="ifrm.Stock.$error.required">
                        <span class="alert alert-danger">Please provide product stock.</span>
                    </div>
                </div>
                
            </div>
            
            <!-- ITEM CATEGORIES -->
            <div class="form-group col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-3">
                    <label for="">Categories</label>    
                </div>
                <div class="col-md-9 col-xs-9">
                    <select class="form-control pull-left custom-select fw double" style="height : 76px;" ng-model="item.Categories" multiple name="Category" required>
                        <option value=""> - Select categories - </option>
                        <option ng-repeat="category in categories" value="{{category.CategoryId}}">{{category.CategoryId}}. {{category.Title}}</option>
                    </select>
                    
                    <div class="ml15 pull-left col-md-7 product-categories">
                        
                        <span ng-repeat="catId in item.Categories" class="label label-success mr5">{{actions.category.get(catId).Title}}</span>
                       
                    </div>
                    <div class="clearfix"></div>
                    <div ng-show="pfrm.Category.$error.required">
                        <span class="alert alert-danger">Please provide the categories this product will belong.</span>
                    </div>
                    
                </div>
                
            </div>
            
            <!-- ITEM PRODUCER -->
            <div class="form-group col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-3">
                    <label for="">Producer</label>    
                </div>
                <div class="col-md-3 col-xs-3">
                    <select class="form-control fw" ng-model="item.Product.Producer" name="Producer" required>
                        <option value="">-- Select Producer --</option>
                        <option ng-selected="item.Product.Producer == 1" value="1">Samsung</option>
                    </select>
                    <!--<input type="text" class="form-control" ng-model="product.Product.Producer" name="Producer" required placeholder="Product stock">-->
                    <div ng-show="ifrm.Producer.$error.required">
                        <span class="alert alert-danger">Please provide product producer.</span>
                    </div>
                </div>
                
                <!--<br class="visible-sm">-->
                
                <div class="col-md-3 brl  col-xs-3">
                    <label for="">Cover file</label>    
                </div>
                <div class="col-md-3 custom-file col-xs-3">
                    <input type="file" name="Cover" mxfile ng-model="item.Cover" required>
                    <div ng-show="ifrm.Cover.$error.required">
                        <span class="alert alert-danger">Please provide product cover file.</span>
                    </div>
                </div>
                
            </div>
  
            <!-- ITEM DATES -->
            <div class="form-group col-md-12 col-xs-12">
                <div class="col-md-1 col-xs-1">
                    <label for="">Created</label>    
                </div>
                <div class="col-md-3 col-xs-3">
                    <p class="input-group">
                      <input type="date" class="form-control" disabled datepicker-popup ng-model="item.Created" is-open="openeda" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" disabled ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
                <div class="col-md-1 col-xs-1">
                    <label for="">Updated</label>    
                </div>
                <div class="col-md-3 col-xs-3">
                    <p class="input-group">
                      <input type="date" class="form-control" disabled datepicker-popup ng-model="item.Updated" is-open="openeda" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" disabled ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
                
                <div class="col-md-1 col-xs-1">
                    <label for="">Status</label>    
                </div>
                <div class="col-md-3 col-xs-3">
                    <select ng-model="item.Status" class="form-control ">
                        <option ng-repeat="status in statuses" ng-selected="status.Id == item.Status" value="{{status.Id}}">{{status.Name}}</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group col-md-12 col-xs-12">
                <div class="col-md-12">
                    <label for="">Description</label>    
                </div>
                <div class="col-md-12">
                    <textarea name="Description" ng-model="item.Description" ckeditor required></textarea>
                    <div ng-show="pfrm.Description.$error.required">
                        <span class="alert alert-danger">Please provide product description.</span>
                    </div>
                </div>
                
            </div>
            
        </div> <!-- END FORM CONTENT -->
        
        <div class="clearfix"></div>
        
    </form>
</div>