/**
 * General css file for admin.
 */
label, input, select, textarea, li , table {
  font-size: 12px;
  color: #999;
  line-height: 22px;
}

*:focus {
    outline: none;
}
.btn.focus, .btn:focus, .btn:hover{
     outline: none;
}

.label {
    font-size : 85%;
}

.fa.medium{}
.fa.big{
    font-size : 30px;
}

input[type=text], input[type=email],input[type=date], textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-size: 12px!important;
    color: #858585;
    box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    padding: 6px 7px;
    border: 1px solid #d7d7d7;
    display: inline-block;
    background: #FFF;
    height: 26px; 
}

input[type=text].fw, input[type=email].fw,input[type=date].fw, textarea.fw{
    width : 180px;
}
select.form-control {
    height: 26px; padding : 0;padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-size: 12px!important;
    color: #858585;
    box-shadow: 0 1px 0 #fff;
}
select.form-control:focus{
    box-shadow: 0 1px 0 #fff;
}
select.form-control.fw{
    width : 180px;
}
select.form-control.fw.double{
    width : 260px;
}
select.custom-select > option {
    border-bottom : 1px solid #EEE;
    padding : 5px;
}

input.form-control:focus{
    box-shadow : none;
}

span.input-group-btn button {
    padding-top : 2px;padding-bottom : 2px;
}

span.alert{
    padding : 0px;padding-left : 2px; padding-right : 2px;
    font-size: 11px;
    font-style: italic;
    display : inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.custom-dpk{
    padding : 3px; padding-top : 0; margin-top : -2px;
}

[class*='col-md-'].extended{
    padding-left : 0;
    padding-right : 0;
}
[class*='col-sm-'].extended{
    padding-left : 0;
    padding-right : 0;
}
[class*='col-xs-'].extended{
    padding-left : 0;
    padding-right : 0;
}

.container.extended{
    padding-left : 0;
    padding-right : 0;
}

.no-margin {
    margin : 0;
}

.mt0{
    margin-top : 0px;
}
.mt5{
    margin-top : 5px;
}
.mt10{
    margin-top : 10px;
}
.mt15{
    margin-top : 15px;
}
.mt20{
    margin-top : 20px;
}
.mt25{
    margin-top : 25px;
}
.mt30{
    margin-top : 30px;
}

.mt35{
    margin-top : 35px;
}
.mt40{
    margin-top : 40px;
}
.mt45{
    margin-top : 45px;
}
.mt50{
    margin-top : 50px;
}

.mb0{
    margin-bottom : 0px;
}
.mb5{
    margin-bottom : 5px;
}
.mb10{
    margin-bottom : 10px;
}
.mb15{
    margin-bottom : 15px;
}
.mb20{
    margin-bottom : 20px;
}
.mb25{
    margin-bottom : 25px;
}
.mb30{
    margin-bottom : 30px;
}

.mb35{
    margin-bottom : 35px;
}
.mb40{
    margin-bottom : 40px;
}
.mb45{
    margin-bottom : 45px;
}
.mb50{
    margin-bottom : 50px;
}

.ml0{
    margin-left : 0px;
}

.ml5{
    margin-left : 5px;
}

.ml10{
    margin-left : 10px;
}

.ml15{
    margin-left : 15px;
}

.ml20{
    margin-left : 20px;
}

.ml25{
    margin-left : 25px;
}

.ml30{
    margin-left : 30px;
}

.ml35{
    margin-left : 35px;
}

.ml40{
    margin-left : 40px;
}

.ml45{
    margin-left : 45px;
}

.ml50{
    margin-left : 50px;
}

.mr0{
    margin-right : 0px;
}

.mr5{
    margin-right : 5px;
}

.mr10{
    margin-right : 10px;
}

.mr15{
    margin-right : 15px;
}

.mr20{
    margin-right : 20px;
}

.mr25{
    margin-right : 25px;
}

.mr30{
    margin-right : 30px;
}

.mr35{
    margin-right : 35px;
}

.mr40{
    margin-right : 40px;
}

.mr45{
    margin-right : 45px;
}

.mr50{
    margin-right : 50px;
}

.pt0{
    padding-top : 0px;
}

.pt5{
    padding-top : 5px;
}
.pt10{
    padding-top : 10px;
}
.pt15{
    padding-top : 15px;
}
.pt20{
    padding-top : 20px;
}
.pt25{
    padding-top : 25px;
}
.pt30{
    padding-top : 30px;
}
.pt35{
    padding-top : 35px;
}
.pt40{
    padding-top : 40px;
}
.pt45{
    padding-top : 45px;
}
.pt50{
    padding-top : 50px;
}

.pb0{
    padding-bottom: 0px; 
}

.pb5{
    padding-bottom: 5px; 
}
.pb10{
    padding-bottom: 10px; 
}
.pb15{
    padding-bottom: 15px; 
}
.pb20{
    padding-bottom: 20px; 
}
.pb25{
    padding-bottom: 25px; 
}
.pb30{
    padding-bottom: 30px; 
}
.pb35{
    padding-bottom: 35px; 
}
.pb40{
    padding-bottom: 40px; 
}
.pb45{
    padding-bottom: 45px; 
}
.pb50{
    padding-bottom: 50px; 
}

.pl0{
    padding-left: 0px;
}

.pl5{
    padding-left: 5px;
}
.pl10{
    padding-left: 10px;
}
.pl15{
    padding-left: 15px;
}
.pl20{
    padding-left: 20px;
}
.pl25{
    padding-left: 25px;
}
.pl30{
    padding-left: 30px;
}
.pl35{
    padding-left: 35px;
}
.pl40{
    padding-left: 40px;
}
.pl45{
    padding-left: 45px;
}
.pl50{
    padding-left: 50px;
}

.pr0{
    padding-right: 0px;
}
.pr5{
    padding-right: 5px;
}
.pr10{
    padding-right: 10px;
}
.pr15{
    padding-right: 15px;
}
.pr20{
    padding-right: 20px;
}
.pr25{
    padding-right: 25px;
}
.pr30{
    padding-right: 30px;
}
.pr35{
    padding-right: 35px;
}
.pr40{
    padding-right: 40px;
}
.pr45{
    padding-right: 45px;
}
.pr50{
    padding-right: 50px;
}

.container-fluid{
    padding : 0;
}


a {
  text-decoration: none;
  color: #CCC;
  font-size: 12px;
}
a:hover {
  text-decoration: none;
  color: #999;
}
._ntf{
    visibility : hidden;
    opacity : 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 185px;
    margin: auto;
    width: 20%;
    font-size: 11px; 
    /* border: 1px solid #FFFFFF; */
    text-align: center;
    border-radius: 3px;
    z-index: 2;
    background-color: rgb(70, 210, 71);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.37);
    padding: 2px;
    color: rgb(255, 255, 255);
}
._ntf.show{
    visibility : visible; opacity : 1;
}

._ntf.error{
    background-color: rgba(230, 0, 0, 0.79);
    color: white;
}

._ntf.info{
    background-color: #F89406;
    color: white;
    text-shadow: .5px .5px #909090;
}

.table th, .table td {
  border-left: 1px solid #DFDFDF;
  border-right: 1px solid #fff;
  border-top: 1px solid #FFF!important;
  border-bottom: 1px solid #DFDFDF;
  padding: 8px 5px 3px 5px;
  vertical-align : middle !important;
}

ul.action-dropdown{
    min-width: 60px;
    right: 3px;
    left: initial;
    padding: 0;
    border-radius: 0;
    top: 20px;
}

ul.action-dropdown > li > a {font-size : 11px;}

.label-success, .badge-success {
  background-color: #468847;
}

.label-warning, .badge-warning {
  background-color: #f89406;
}
/****************/

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
/*******************************/

.form-control:focus{
    border-color: rgb(193, 192, 192);
}