/**
 * The main css file
 * Author : Corneliu Iancu
 * Date : 11.07.2015
 */

header{

}

#TpHd{
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0 9px;
}

#TpHd ul > li {
    display: inline-block;
}

#TpHd ul > li:first-child a {
    padding: 0 16px 0 0;
}

#TpHd ul > li a {
    padding: 0 13px;
    border-right: 1px solid #e0e0e0;
    color: #3d3d3d;
    font-size: 13px;
    line-height: 15px;
    display: inline-block;
    text-transform: capitalize;
}

#TpHd ul > li:last-child a {
    border: none;
}

#TpHd ul > li.dropdown .dropdown-menu li {
    text-align: left;
    display: block;
}

#TpHd ul > li.dropdown .dropdown-menu li a {
    display: block;
    padding: 7px 13px;
    margin: 0 2px;
    border: none;
}

#LwHd{
    padding: 40px 0 31px 0;
    border-bottom: 1px solid #e0e0e0;
}

#LwHd .contact-row {
    font-size: 14px;
    line-height: 20px;
}

#LwHd .contact-row .phone {
    margin: 0 10px 0 0;
}

#LwHd .contact-row i {
    color: #e74c3c;
}

#LwHd .contact-row i {
    vertical-align: middle;
    margin: 0 8px 0 0;
    font-size: 23px;
    line-height: 23px;
}

#LwHd .search-area {
    border: 3px solid #c6c6c6;
    border-radius: 7px;
    margin: 8px 0 0 0;
}

#LwHd .search-area .search-field {
    border-radius: 5px 0 0 5px;
    border: none;
    width: 56%;
    padding: 13px;
}

#LwHd .search-area .categories-filter {
    display: inline-block;
}

#LwHd .search-area .categories-filter {
    line-height: 44px;
    padding-left: 7px;
    display: inline-block;
    border-left: 1px solid #e0e0e0;
    text-transform: capitalize;
}

#LwHd .search-area .categories-filter .dropdown-toggle {
    color: #3d3d3d;
    padding: 0 14px 0 2px;
}

#LwHd .search-area .search-button {
    background-color: #e74c3c;
}

#LwHd .search-area .search-button:after {
    content: "\f002";
    font-family: fontawesome;
    font-size: 25px;
    line-height: 25px;
    vertical-align: sub;
    color: #fff;
}

#LwHd .search-area .search-button {
    float: right;
    display: inline-block;
    text-align: center;
    padding: 14px 15px 13px 15px;
    margin: -3px -3px 0 0;
    border-radius: 0 5px 5px 0;
}

.cart-container{
    padding: 35px 0 0 21px;
}

.top-cart-holder .basket-item-count {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.basket-item-count .count {
    background-color: #e74c3c;
}

.basket-item-count .count {
    position: absolute;
    color: #fff;
    top: 5px;
    right: 12px;
    border-radius: 100px;
    width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.cart-container .wishlist-compare-holder {
    line-height: 24px;
    /*margin: 0 18px 0 0;*/
    font-size: 13px;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: top;
}

.cart-container .top-cart-holder {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.total-price-basket {
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: top;
    text-transform: capitalize;
}

.top-cart-holder .dropdown-toggle .lbl {
    font-size: 14px;
    line-height: 21px;
    color: #3d3d3d;
    display: block;
}

.top-cart-holder .dropdown-toggle .total-price {
    font-size: 22px;
    font-weight: bold;
}

main {
    min-height: 500px;
    padding-top: 25px;padding-bottom: 25px;

    /*border-bottom: 1px solid #eee;*/
}

footer{
    padding: 54px 0 0 0;
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
}

footer h2 {
    text-transform: capitalize;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -1px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 11px;
}

footer .widget li {
    margin: 0 0 20px 0;
}
footer .widget li a {
    line-height: 15px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 700;
    color: #0e53a5;
}
footer .widget li .price {
    line-height: 21px;
}

footer .widget .price .price-prev, footer .widget .price .price-current {
    display: inline-block;
    vertical-align: top;
    vertical-align: middle;
}

footer .widget .price .price-prev {
    color: #c6c6c6;
    font-size: 11px;
    text-decoration: line-through;
}

footer .widget .thumb-holder {
    float: right;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

#TpFt{
    height: 356px;
}

#TpFt h2 {
    color: #e74c3c;
}

#MdFt{
    margin: 51px 0;;
    position : relative;
    height: 15px;
}

#MdFt input {
    width: 75% !important;
        border: 1px solid #e0e0e0;
    padding: 18px;
    color: #3d3d3d;
    width: 82%;
    border-radius: 5px 0 0 5px;
}
#MdFt:before{
    content: "";
    position: absolute;
    top: 27px;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: 0;
}
#MdFt button{
    border-radius: 0 5px 5px 0;
    padding: 19px 31px 19px 31px;
    margin: 0 0 0 -5px;
    /*border-radius: 4px;*/
    font-weight: bold;
    /*padding: 10px 20px;*/
    display: inline-block;
    line-height: 20px;
    border: none;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #e74c3c;
}

#BtFt{
    margin: 75px 0 72px 0;
    height: 354px;
}

.social-icons li a {
    color: #fff;
    display: inline-block;
    padding: 6px;
    background-color: #3d3d3d;
    border-radius: 100px;
}
.social-icons li {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}
.social-icons li a:before {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
}

#BtFt .link-widget h3 {
    padding-bottom: 32px;
}
#BtFt h3 {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1px;
    padding-bottom: 11px;
}

#BtFt .link-widget a {
    text-decoration : none;
    color: #adadad;
    text-transform: capitalize;
    font-weight : 400;
    transition : color .2s ease-in-out;
}

#BtFt .link-widget a:hover{
    text-decoration : none;
    color : #e74c3c;
}

#BtFt .link-widget .widget{}

.payment-methods > a{
    display: inline-block;
    width: 50px;
    background-color: #fff;
    border-radius: 2px;
    text-align: center;
    padding: 0px 5px;
}

#CopyRights{
    background-color: #3d3d3d;
    padding: 17px 0;
    text-transform: capitalize
}


/****************************/
/*THE CONTENT*/
._smh{
    padding: 17px;
    color: #fff;
    border-radius: 5px 5px 0 0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
    background-color: #e74c3c;
}
._nvm {
    position: relative;
}
._nvm > li{
    border: 1px solid #e0e0e0;
    border-top: 0;
    border-bottom: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: initial;
}

._nvm > li > a {
    font-weight: bold;
    color: #636363;
    transition: background-color .3s ease-in-out;
}

._nvm > li.open > a , ._nvm > li.open > a:focus{
    color : #FFF;
    background-color : #e74c3c;
}

._nvm > li:hover{
    border-color : #e74c3c;
}
._nvm > li > a:hover{
    color : #FFF;
    background-color : #e74c3c;
}

._nvm > li:last-child {
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0 0 5px 5px;
}

._nvm > .dropdown .dropdown-toggle:after{
    position: absolute;
    right : 10px;
    content: "\f101";
}

._nvm .menu-screen{
    left : 100%;
    top : -20px;
    min-width: 325%;
    padding: 20px;
}

._nvm .menu-screen .menu-item-content ul > li {
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
._nvm .menu-screen .menu-item-content ul > li a
{
    color: #636363;
    line-height: 26px;
}

._nvm .open .menu-screen{
    top: -3px !important;
    left: calc(100% - 1px);
}

#FrGl{
    /*min-height: 450px;*/
    /*background-color : rgba(0,0,0,0.05);*/
}

.banner .banner-text h1, .banner .banner-text .tagline {
    color: #4F6276;
}

.banner .banner-text .tagline{
    text-transform: capitalize;
    font-weight: 100;
    font-size: 20px;
    line-height: 33px;
}

.banner .banner-text h1 {
    font-size: 36px;
    font-weight: 800!important;
    text-transform: capitalize;
    line-height: 38px;
}

.banner > a {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.banner{position: relative; overflow: hidden;}

.banner .banner-text {
    position: absolute;
    color: #3d3d3d;
    top: 15%;
    left: 4%;
    z-index: 200;
}

.banner .banner-text.right{
    right : 4%;left: auto;
}

/* END THE CONTENT */
/****************************/

/****************************/
/* Product item css */
.pr-wp > .prd-hero{
    background-color: #fff;
    min-height: 401px;
    border: 1px solid #ececec;
    border-right: 0;
    position: relative;
}

.c-pr-wp.pr-wp{
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
}
.c-pr-wp.pr-wp > .prd-hero {
    border: 1px solid #ececec;
    border-top: 0;
    border-left: 0;
    
}



.c-pr-wp.pr-wp > .prd-hero:nth-child(3n+3){
    /*border-right: 1px solid #ececec;*/
}
.c-pr-wp.pr-wp > .prd-hero.list-item {
    min-height : initial;
    border-left: 1px solid #ececec;
}
.ribbon span {
    position: relative;
    z-index: 100;
    margin-right: 11px;
}

.pr-wp > .prd-hero:last-child{
    border-right: 1px solid #ececec;
}

._pr .image img{width : 100%;}
._pr .ribbon {
    position: absolute;
}
._pr .red.ribbon {
    background-color: transparent;
}
._pr .ribbon {
    z-index: 100;
    top: 2.5%;
    font-size: 11px;
    line-height: 20px;
    padding: 4px 14px;
    font-weight: 700;
    text-transform: uppercase;
}
._pr .ribbon:after {
    content: "";
    display: inline-block;
    border-top-width: 28px;
    border-top-style: solid;
    border-left: 0px;
    border-right: 14px solid transparent;
    height: 0;
    min-width: 68px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
._pr .red.ribbon:after {
    border-top-color: #F8484A;
}
._pr .image {
    min-height: 215px;
    text-align: center;
    padding: 29px 0px 0 0;
}
._pr.list-item .image{min-height : initial;}
._pr .body {
    margin: 0 34px;
    min-height: 107px;
    border-bottom: 1px solid #ececec;
}
._pr .body > p {font-size : 11px;}
._pr.list-item .body{margin : 0; margin-top : 15px; min-height : initial;}
._pr .body .label-discount {
    padding: 0 8px;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    display: table-cell;
    text-transform: uppercase;
    background-color: #59B210;
    color: #fff;
}
._pr .body .title {
    margin: 7px 0 0 0;
    line-height: 19px;
    text-transform: capitalize;
}
._pr .body .title a {
    color: #0e53a5;
    font-weight: bold;
}
._pr .body .title a:hover {
    color: #e74c3c;
}
._pr .body .brand {
    font-size: 10px;
    line-height: 30px;
    color: #3d3d3d;
    text-transform: uppercase;
}
._pr .prices {
    margin: 0 34px;
    padding: 11px 0;
}
._pr.list-item .prices {
    margin: 0;
    padding: 10px 15px;
}
._pr .price-prev {
    display: inline-block;
    font-size: 14px;
    color: #d3d3d3;
    font-weight: 700 !important;
    font-weight: 800;
}
._pr.list-item .price-prev{display : block;}
._pr .price-current {
    color: #2A1051;
    font-weight: 700;
    font-size: 17px;
}

/****************************/

/*****************************************************************/
/* Category page css */
#SdMn {width : 100%; border-radius: 0;margin-top: -3px;}
#SdMn li a {
    font-weight: 600;
    display: block;
    padding: 11px 15px;
    margin: 0!important;
}
#BcR{  background-color: #f9f9f9;}
#BcR > ul {float : left;}
#BcR > ul > li {
    /*display: inline-block;*/
    float: left;
    transition: all .3s ease;
}
#BcR > ul:after{
    content : ''; 
    clear: both;
}
#BcR > ul > li > a{
    transition: all .6s ease;
    padding: 17px;
    float : left;
    color : #636363;
    border-right: 1px solid #e0e0e0;
}
#BcR > ul > li:hover > a{
    background-color: #ececec;
}
#BcR > ul > li:last-child > a {border-right : none; }
.sidebar .widget hr {
    margin: 5px 0;
}
.sidebar .widget h2{margin : 0;   color: #e74c3c;}
.sidebar .widget .filter ul label {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12px;
    margin: 0 0 3px;
    line-height: 20px;
}
.sidebar .widget .filter span {
    font-size: 12px;
    vertical-align: bottom;
    display: inline-block;
    line-height: 24px;
    margin: 0 8px 0 0;
}
.custom-checkbox {
    visibility: hidden;
}
.custom-checkbox + label{
    position: relative;
    padding-left: 5px;
}
.custom-checkbox + label:before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    left: -15px;
    top: 4px;

}
.custom-checkbox:checked + label:before{
    border-color : #e74c3c;
    background-color : #e74c3c;
}
.sidebar .widget .body {
    margin: 10px 0;
    padding: 10px;
}
.sidebar .widget .bordered {
    border: 1px solid #ececec;
    border-radius: 10px;
}
.control-bar {
    background-color: #f9f9f9;
    border-radius: 5px 5px 0px 0px;
    padding: 13px;
}
.control-bar .display-toggler ul{text-align: right;padding-top: 2px;}
.control-bar .display-toggler ul li {
    min-width: 49px;
    margin: 0 23px 0 0;
    display: inline-block;
    vertical-align: top;
}
.control-bar .display-toggler ul li a {
    font-size: 13px;
    color: #3d3d3d;
    font-weight: 600;text-decoration: none;
}
.control-bar .display-toggler ul li.active a {
    font-weight: 800;
    text-decoration: none;
}
.control-bar .display-toggler ul li.active a i {
    color: #e74c3c;
}
.control-bar .display-toggler ul li a i {
    font-size: 19px;
    color: #ccc;
    vertical-align: bottom;
}
/*****************************************************************/

#CartDropdown , #CartDropdown:hover, #CartDropdown:focus {
    font-size: 14px;
    line-height: 21px;
    color: #3d3d3d !important;
    display: block;
    text-decoration : none; cursor : pointer;
}
#CartDropdown:after{
    display : none;
}
#CartDropdown + ul.dropdown-menu{
    width: 332px;
    left: -200px;
    top: 65px;
    padding: 16px 0 0 0;
}
#TpCrt ul li .basket-item {
    padding: 11px 28px;
    position: relative;
}
#TpCrt ul li .basket-item .thumb {
    border: 1px solid #e0e0e0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.basket-item .title {
    font-weight: 100;
    line-height: 26px;
}
.basket-item .price {
    color: #e74c3c;
}
.dropdown-toggle .total-price {
    font-size: 22px;
    font-weight: bold;
    color : #e74c3c;
        display: block;
    padding-top: 7px;
}

.products-pagination li {
    float :left;margin-right : 3px;
}
.products-pagination li.active a{
    background : #FFF;
    color: #e74c3c !important;
    border-color: #e74c3c;
}
.products-pagination li:hover a{
    background : #FFF;
    color: #e74c3c !important;
    border-color: #e74c3c;
}
.products-pagination li a {
    border: 1px solid #e0e0e0;
    color: #3d3d3d !important;
    border-radius: 0!important;
    padding: 9px 17px!important;
    font-size: 18px;
    margin: 0 4px 0 0;
    text-transform: capitalize;
    transition : all .4s ease-in-out;
}

/************************/
/* @TODO REFACTOR */
#PrFront .price-current{
    font-size: 30px;
    font-weight: 700;
    color: #28124A;
    display: inline-block;
    vertical-align: top;
}

#PrFront .price-prev{
    font-size: 14px;
    font-weight: 600;
    /*vertical-align: bottom;*/
    line-height: 35px;
    margin: 0 0 0 16px;
    display: inline-block;
    vertical-align: top;
}

#PrFront .price-prev span{
    color: #E74C3C;
    text-decoration: line-through;
}

.qt-wp{
    display : inline-block;
}
.qnt {
    padding: 12px;
    position: relative;
    border: 1px solid #e0e0e0;
    display: inline-block;
    vertical-align: top;
}
.qnt .minus, .le-quantity .plus {
    position: absolute;
    width: 5px;
    height: 100%;
    padding: 3px 14px;
    background-color: #f9f9f9;
    top: 0;
    font-family: fontawesome;
}
.qnt .minus:after, .qnt .plus:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    font-size: 10px;
}
.qnt .minus, .qnt .plus, .qnt .minus:after, .qnt .plus:after {
    color: #3d3d3d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.qnt .minus {
    left: 0;
    border-right: 1px solid #e0e0e0;
}
.qnt .plus {
    right: 0;
    border-left: 1px solid #e0e0e0;
}
.qnt .plus {
    position: absolute;
    width: 5px;
    height: 100%;
    padding: 3px 14px;
    background-color: #f9f9f9;
    top: 0;
    font-family: fontawesome;
}
.qnt .minus:after {
    content: "\f068"; font-family : "FontAwesome";
}
.qnt .plus:after{
    content: "\f067"; font-family : "FontAwesome";
}
.qnt input {
    border: none;
    text-align: center;
    width: 80px;
    color: #3d3d3d;
    font-size: 20px;
    background-color: #fff;
}

#AddToCart{
    /*margin: 0px 0 0 18px;*/
    /*padding: 17px 50px;*/
}

._pr_gall_wp{
    border-top : 1px solid lightgray !important;
}
._pr_gall_wp img{
   
    /*border : 1px solid;*/    
    padding : 4px;
    /*margin : 2px;*/
    /*padding-right : 2px;*/
    /*border-right : 1px solid lightgray;*/
}

._pr_gall_wp a{
    font-size: 0;
    float: left;
    border: 1px solid lightgray;
    border-top: 0;
    
    border-right: 0;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
._pr_gall_wp a:nth-child(6n+6){
    border-right : 1px solid lightgray;
}
._pr_gall_wp a:last-child{
    border-right : 1px solid lightgray;
}

.spc-wp .table{
    font-size : 12px;
}

.spc-wp .table > thead > tr > th:first-child {width : 45%; border-bottom : 0;}

.comm-body {
    min-height : 90px;border : 1px solid #EEE;
    padding : 15px; padding-top : 8px;
    position : relative;
}

.comm-body > p{font-size : 12px;}

.comm-body:before{
    left: -10px;
    border-color: transparent #EEEEEE transparent transparent;
    content: "";
    border-width: 7.5px 10px 7.5px 0;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 20px;
}
.comm-body:after{
    content: "";
    border-width: 7.5px 10px 7.5px 0;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 20px;
        left: -8px;
    border-color: transparent #fff transparent transparent;
}

#CommForm .captcha-verify{width : 250px;}
._pr_gall_wp{
    float : left;
}