/* 
    Created on : May 26, 2015, 11:42:49 PM
    Author     : Cornelius
*/

/*
 DEFINE COLORS HERE : 
 LightWhite : #FFF;
 White : #F6F6F6
 Lightgray : #f3f3f3;
 LightgrayBorder : #e0e0e0
 DarkGrayText : #34353e;
 LightGrayText : #999

*/

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Lato', Arial , sans-serif;
    font-size: 13px;
}

.ftr {
    
}

.hdrtop{
    padding-top : 5px;
    padding-bottom : 5px;
    border-bottom : 1px solid #e0e0e0;
    background-color : #f3f3f3;
}

.hdrbtm{
    padding-top : 5px;
    padding-bottom : 5px;
    /*border-bottom : 1px solid #e0e0e0;*/
}

.navig{
    border-top : 1px solid #e0e0e0;
    border-bottom : 1px solid #e0e0e0;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);*/
    background-color: #f9f9f9;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
    background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
    background-image: -o-linear-gradient(#ffffff, #f2f2f2);
    background-image: linear-gradient(#ffffff, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
    
}

.main-nav {
    float : left;
    margin : 0;
    padding : 0;
}

.main-nav li {
    float : left;
}

.main-nav li a:hover{
    color : #34353e;
}
.main-nav li a {
    padding : 20px; 
    padding-left : 12px;
    padding-right : 12px;
    display : block;
    text-transform : uppercase;
    font-weight : bold;
    color : #999;
    -webkit-transition: padding 0.2s ease-in-out, color 0.3s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out, color 0.3s ease-in-out;
    -o-transition: padding 0.2s ease-in-out, color 0.3s ease-in-out;
     transition: padding 0.2s ease-in-out, color 0.3s ease-in-out;
}

.main-nav li .submenu li{
    border-bottom : 1px solid #e0e0e0;
}
.main-nav li .submenu li:last-child{
    border-bottom : 0;
}
.main-nav li .submenu li a {
    padding-top : 7px;
    padding-bottom : 7px;
    text-transform : none;
}

/*.drpdw.active{*/
/*    display : block;*/
/*}*/
/*.drpdw{*/
/*    display : none;*/
/*    position : absolute;*/
/*    min-width : 150px;*/
/*    background : #FFF;*/
/*    border : 1px solid #e0e0e0;*/
/*    border-radius : 4px;*/
/*    z-index : 3;*/
/*    transition: all .1s ease;*/
/*    box-shadow: 0 1px 4px rgba(0,0,0,.2);*/
/*    min-height : 50px;*/
/*    padding-left : 0;*/
/*}*/

.dropdown-menu:before{
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #ccc;
    position: absolute;
    top: -7px;
    left: 9px;
}

.dropdown-menu:after {
    content : '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 10px;
}

.dropdown-menu{
    margin-top : -2px;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
.dropdown-menu > li a{
    padding-top : 7px;
    padding-bottom : 7px;
} 
.dropdown-menu > li > a:hover{
    background-color : transparent;
}
.dropdown-menu > li {float : none;
    border-bottom : 1px solid #ccc;
}

.dropdown-menu > li:last-child {
    border-bottom : 0px;
}

.search-form{
    padding-top : 13px;
}
.search-form > input[type=text]{
    width : 90px;
    -webkit-transition: width .25s; /* Safari */
    transition: width .25s;
}

.search-form > .extended{
    width : 150px !important;
}

.search-form > button{
    position : absolute;
    top : 13px;
    right : 0;
    padding: 6px 6px;
    font-size: 14px;
    border : 0;
    background-color : transparent;
}

.cart-wrp{
    text-align : center;
      padding-top: 21px;
      min-height: 58px;
      border-left : 1px solid #e0e0e0; padding-left : 5px;
      -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.cart-wrp .btn {
  padding: 7px 10px;
  margin-top: -9px;
  font-size: 16px;
}

.cart-wrp p {
    font-weight : bold;
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
}

.cart-wrp p.items {
  border-right: 1px solid #e0e0e0;
}
.cart-container{
    position : relative;
}

.cart-container.active .cart-wrp{
    background-color : #FFF;
    z-index : 1103;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.33);
}
.cart-container .cart-wrp:after{
    content: "";
    position: absolute;
    display: block;
    z-index: 1102;
    height: 10px;
    left: -10px;
    right: 0;
    bottom: -10px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .05s .05s opacity ease;
    -moz-transition: .05s .05s opacity ease;
    -o-transition: .05s .05s opacity ease;
    transition: .05s .05s opacity ease;
}

.cart-container.active .cart-wrp:after{
    visibility: visible;
    opacity: 1;
}

.cart-container.active .open-cart{
    visibility : visible;
    opacity : 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.open-cart{
    position: absolute;
    top: 100%;
    z-index: 1100;
    right: 0;
    left: -75%;
    visibility : hidden;
    opacity : 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.33);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); 
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.item-in-cart {
  padding: 10px;
  border-bottom: 1px dotted #c3c2c4;
}

.item-in-cart .image {
  width: 15%;
  float: left;
}
.item-in-cart .desc {
  width: 65%;
  margin-left: 5%;
  float: left;
  padding-top: 5px;
}
.item-in-cart .price {
    padding-top: 5px;
    width: 15%;
    float: left;
    text-align: right;
}

.item-in-cart .desc .qty a {
    color: inherit;
    text-decoration: none!important;
}

.item-in-cart strong {
    display: block;
color: #34353e;
}

.item-in-cart .image img {
    border: 1px solid #e0e0e0;
}

.item-in-cart .desc .qty {
    font-size: 11px;
}

.menu-toggler{
    padding-bottom : 3px;
    margin-top : 11px;
    margin-bottom : 9px;
    -webkit-box-shadow: 0 2px 0 #009ea9;
    -moz-box-shadow: 0 2px 0 #009ea9;
    box-shadow: 0 2px 0 #009ea9;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #00becc;
    background-image: -moz-linear-gradient(top,#00becc,#00becc);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00becc),to(#00becc));
    background-image: -webkit-linear-gradient(top,#00becc,#00becc);
    background-image: -o-linear-gradient(top,#00becc,#00becc);
    background-image: linear-gradient(to bottom,#00becc,#00becc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF#00becc', endColorstr='#FF#00becc', GradientType=0);
    border-color: #00becc #00becc #007780;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
}

.menu-toggler:hover{
    background-color: #00b5c2;
}

.main{
    padding-top : 5px;
    padding-bottom : 5px;
    min-height : 300px;
    border-bottom : 1px solid #e0e0e0;
}

.push-up.over-sld{
    min-height : 100px;
    background : #FFF;
    margin-top : -30px;
    border-radius : 7px 7px 0px 0px;
    padding-top : 15px;
    padding-bottom : 15px;
    
}

.offer {
    border : 1px solid #e0e0e0;
    /*padding : 10px;*/
    /*min-height : 50px;*/
    /*border-radius : 5px;*/
    /*background: #666666;;*/
    font-size: 18px;
    letter-spacing: -.05em;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.offer span.title{
    display : block;
    text-align : center;
}

.offer a { 
    display : block;
    color : #FFF;
    margin : 5px;
    padding : 10px 0px;
    text-align : center;
    background : #666666;
}
.offer.hot a{
    background: #7da337;
}

.ftr{
    padding-bottom : 20px;
    padding-top : 20px;
    background : url(../img/darkgraybg.jpg);
    color : #F6F6F6;
    
}

/****************************************************/
/**************** PRODUCT CSS ***********************/
/****************************************************/

.pcw {
    overflow : hidden;
    height : 150px;
}

.pr{
    padding-top : 15px;
    padding-bottom : 15px;
    /*border : 1px solid #e0e0e0;*/
}

.pri{
    min-height : 100px;
    /*border-bottom : 1px solid #e0e0e0;*/
    margin-bottom : 10px;
}

.pri img{ width : 80%; }

.prp{
    margin-bottom : 20px;
}

.prp h4.title {
    margin-bottom : 0;
    font-size : 20px;
      color: #34353e;
  line-height: 1.2;
  letter-spacing: -.05em;
}

/****************************************************/
/**************** END PRODUCT CSS *******************/
/****************************************************/

