/* 
    Created on : May 26, 2015, 11:42:49 PM
    Author     : Cornelius
*/

/*
 DEFINE COLORS HERE : 
 
 Lightgray : #f3f3f3;
 LightgrayBorder : #e0e0e0

*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: 'Lato', Arial , sans-serif;
    font-size: 13px;
}

.ftr {
    position : absolute;
    bottom : 0; left : 0; right : 0;
    margin : 0 auto;
}

.hdrtop{
    padding-top : 5px;
    padding-bottom : 5px;
    border-bottom : 1px solid #e0e0e0;
    background-color : #f3f3f3;
}

.hdrbtm{
    padding-top : 5px;
    padding-bottom : 5px;
    border-bottom : 1px solid lightgray;
}

.main{
    padding-top : 5px;
    padding-bottom : 5px;
    border-bottom : 1px solid #e0e0e0;
}

.ftr{
    padding-bottom : 5px;
    padding-top : 5px;
    border-top : 1px solid #e0e0e0;
}