<?php 
return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host' => getenv('IP'),
                    'port' => '3306',
                    'user' => getenv('C9_USER'),
                    'password' => '',
                    'dbname' => 'dev_utopia',
                )
            )
        )
    )
);